{{ define "main" }}

<p>
「大方無隅；大器晚成；大音希聲；大象無形；道隱無名。」-- 道德經，41章
</p>
<p>
"We are all just prisoners here, of our own device." -- Hotel California, The Eagles
</p>
<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 5 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1><a href=about/>About</a></h1>

{{ end }}
